{
  "root": true,
  "extends": "standard",
  "env": {
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": [
        "*.mts",
        "*.cts"
      ],
      "extends": "love",
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "plugins": [
        "@typescript-eslint"
      ],
      "globals": {
        "KeyFileType": "readonly",
        "FileType": "readonly",
        "FileListType": "readonly"
      }
    }
  ]
}
